/*******************
        BASICS
********************/

@font-face {
    font-family: BookmanOldStyle;
    src: url(bookman_old_style.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    /*#e5e5e5;*/
    color: #000000;
    font-family: sans-serif;
    margin: 0;
}

/* Bootstrap grid will be used instead of custom grid */
/* Preserve inner padding for content columns */
/* Bootstrap spacing utilities (g-*) will be used for rows */

ul {
    text-align: left;
}

table {
    text-align: left;
}

.visibleLink {
    color: blue
}

/*******************
    MAIN ELEMENTS
********************/

#sideleft {
    width: 300px;
    float: left;
}

#sideright {
    overflow: hidden;
}

#header {
    padding-top: 20px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
}

#subheader {
    text-align: center;
    display: flex;
    align-items: center;
    height: 250px;
    width: 230px;
    margin: 0px 70px 0px 70px;
    background-color: #FFD700;
    border: 2px #F5F5F5 solid;
    border-bottom: 0px;
    -moz-box-shadow: 0px 1px 4px #000000;
    -webkit-box-shadow: 0px 1px 4px #000000;
    box-shadow: 0px 1px 4px #000000;
}

#subheader-mobile {
    display: none;
}

#content {
    margin: 0px 70px 0px 70px;
}

#footer {
    text-align: center;
    bottom: 10px;
    padding-top: 10px;
    margin-top: 50px;
    background-color: #686868;
    width: 100%;
    min-height: 40px;
    font-size: 0.9em;
}

/*******************
       HEADER
********************/

.headerImage {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    height: auto;
    z-index: -1;
}

#controllerBox {
    background-color: yellow;
}

.controller {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

#headerCaption {
    text-align: center;
    width: 100%;
    padding: 20px 0px 25px 0px;
    margin: 0px;
    line-height: 1;
    color: #000000;
    font-family: BookmanOldStyle, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    background-color: #FFD700;
    border: 2px #F5F5F5 solid;
    border-top: 0px;
    -moz-box-shadow: 0px 1px 4px #000000;
    -webkit-box-shadow: 0px 1px 4px #000000;
    box-shadow: 0px 1px 4px #000000;
}

#headerCaption>.lower {
    color: #000000;
    font-size: 27px;
}

#headerCaption-mobile {
    display: none;
}

#crest-mobile {
    display: none;
}

#subheader>#crest {
    margin-left: auto;
    margin-right: auto;
}

#subheader>#crest>a>img {
    max-height: 200px;
}

/*******************
       CONTENT
********************/

.containerCaption {
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

.contentContainer {
    background-color: #dcdcdc;
    border: 1px #a9a9a9 solid;
    text-align: left;
    min-width: 200px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

.new {
    margin: 15px 10px 30px 10px;
    text-align: justify;
}

.new > p,
.new > ul,
.new > table {
    margin-left: 20px;
    padding-right: 20px;
}

.newTitle {
    background-color: #eaeaea;
    border: 1px #999999 solid;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 11pt;
    text-align: left;
}

.newDate {
    float: right;
}

.documentList {
    padding-left: 20px;
    list-style: square outside;
    line-height: 1.8;
}

#map {
    width: 100%;
    height: 200px;
}

/*******************
       SIDEBAR
********************/

#sideBarGrey {
    background-color: #b9b9b9;
    text-align: center;
    width: 230px;
    padding-bottom: 2px; 

    -moz-box-shadow: 0px 1px 4px #000000;
    -webkit-box-shadow: 0px 1px 4px #000000;
    box-shadow: 0px 1px 4px #000000;
}

.sideBarElement {
    width: 110%;
    margin-left: -11px;
    margin-right: -11px;
    margin-bottom: 20px;
    display: block;
}

#pageName {
    margin-top: 20px;
    padding: 5px 0px 5px 0px;
    color: #ff3300; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    background-color: #FFD700;
    border: 2px #F5F5F5 solid;
    -moz-box-shadow: 0px 1px 4px #000000;
    -webkit-box-shadow: 0px 1px 4px #000000;
    box-shadow: 0px 1px 4px #000000;
}

#pageDescription {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 5px #b7b7b7;
}

.sideBarImage {
    max-width: 110%;
    border: 1px #666666 solid;
    max-width: 300px;
    height: 155px;

    -moz-box-shadow: 0px 1px 4px #b2b2b2;
    -webkit-box-shadow: 0px 1px 4px #b2b2b2;
    box-shadow: 0px 1px 4px #b2b2b2;
}

.sideBarImage:HOVER {
    filter: brightness(80%); 
}

.sideBarTender {
    max-width: 300px;
    background-color: #F5F5F5;
    border: 1px #666666 solid;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;

    -moz-box-shadow: 0px 1px 4px #b2b2b2;
    -webkit-box-shadow: 0px 1px 4px #b2b2b2;
    box-shadow: 0px 1px 4px #b2b2b2;
}

.sideBarTender:HOVER {
    filter: brightness(90%); 
}

.sideBarTenderId {
    color: #224B9D;
    font-weight: bold;
}

.sideBarTenderTitle {
    color: #353535;
    font-size: 0.9rem;
}

.sideBarOne {
    display: block;
    cursor: pointer;
    border: 1px #666666 solid;
    background: linear-gradient(-25deg, #039FAC, white);
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.4em;
    text-decoration: none;
    max-width: 300px;

    -moz-box-shadow: 0px 1px 4px #b2b2b2;
    -webkit-box-shadow: 0px 1px 4px #b2b2b2;
    box-shadow: 0px 1px 4px #b2b2b2;
}

.sideBarOne > img {
    width: 40%;
    margin-bottom: 0px;
}

.sideBarOne:HOVER {
    filter: brightness(80%); 
}

/*******************
        MENU
********************/

#menuBar {
    text-align: center;
    background-color: #4169E1;
    background: -moz-linear-gradient(bottom, #4169E1 0%, #48A4FF 100%);
    background: -webkit-linear-gradient(bottom, #4169E1 0%, #48A4FF 100%);
    background: -o-linear-gradient(bottom, #4169E1 0%, #48A4FF 100%);
    background: -ms-linear-gradient(bottom, #4169E1 0%, #48A4FF 100%);
    background: linear-gradient(bottom, #4169E1 0%, #48A4FF 100%);
}

#mainMenu {
    display: none;
}

#burger {
    display: none;
    color: white;
    background: transparent;
    border: 1px #FFD700 solid;
    border-radius: 3px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    height: 36px;
    width: 45px;
    padding: 8px;
}

#burger:hover {
    background-color: #FFD700;
}

.burgerLine {
    display: block;
    width: 75%;
    height: 2px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
}

.menuBtn {
    display: inline-block;
    color: white;
    background: transparent;
    border: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.menuBtn:hover {
    border: 0px;
    background-color: #48A4FF;
}

.menuBtn:active {
    border: 0px;
}

.menuBtnSelected {
    background-color: #48A4FF;
}

.subMenu {
    background-color: #48A4FF;
    display: none;
    text-align: left;
    color: white;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 35px;
}

.subMenuContainer {
    margin-left: 0px;
    margin-right: auto;
}

.subMenuContainer ul {
    margin: 0px;
}

.subMenuContainer li {
    list-style-type: square;
}

.subMenuContainer a {
    color: inherit;
    text-decoration: none;
}

.subMenuContainer li:hover {
    color: #FFD700;
}

.subMenuContainer .subMenuHeader {
    padding-left: 20px;
    color: #272b68;
}

/*******************
       GALLERY
********************/

.fancybox {
    text-decoration: none;
}

[class*="galleryTmb"] {
    height: 110px;
    margin-right: 40px;
    margin-bottom: 30px;
    float: left;
    box-shadow: 4px 4px 17px #000000;
}

.gallery-tmb-big {
    height: 200px;
    margin-right: 40px;
    margin-bottom: 30px;
    float: left;
    box-shadow: 4px 4px 17px #000000;
}

.galleryTmb_bg {
    float: none;
    height: auto;
    width: 70%;
}

.gallery {
    background-color: #cccccc;
    border: 1px solid #48A4FF;
}

.news-gal {
    text-align: left;
}

.news-gal-tmb {
    height: 90px;
    max-width: 130px;
    margin-right: 3%;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px #000000;
}

/*******************
   MODAL OVERWRITES
********************/

.w3-modal {
    padding-top: 25px;
    padding-bottom: 25px;
}

/*******************
       One
********************/

#oneFormContainer {
    text-align: center;
}

#oneFormContainer img {
    max-width: 120px;
}

#oneAlert {
    margin-top: 15px;
    background-color: red;
    color: white;
    font-weight: bold;
}

/*******************
 FIN. SUPPORT CORNER
********************/

#finSupportCorner {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 320px;
}

/*******************
        ICONS
********************/

.fa-menu {
    margin-left: 6px;
    font-size: 0.8rem;
}

/*******************
 DOC. DOWNLOAD PAGES
********************/

.docs-table {
    border-collapse: collapse;
    line-height: 1.6em;
}

.docs-table td {
    padding-left: 4px;
}

.docs-table tr:nth-child(odd):not(:only-child) {
    background: #b9b9b9;
}

.docs-table td:nth-child(2) {
    text-align: center;
}

/* Small-screen divider helper: top border as horizontal separator */
@media (max-width: 1199.98px) {
    .sm-divider-top {
        border-top: 1px solid #a9a9a9;
        padding-top: 12px;
    }
}
