/********************************************
        OVERRIDES FOR SMALLER SCREENS
*********************************************/

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    #sideleft {
        width: 100%;
        float: none;
        padding-top: 20px;
    }
    #sideright {
        overflow: visible;
    }
    [class*="col-"] {
        width: 100%;
    }
    .menuBtn {
        display: none;
    }
    #burger {
        display: block;
        float: right;
    }
    #menuBar {
        height: 45px;
    }
    #mainMenu {
        width: 100%;
        background-color: #48A4FF;
        text-align: left;
        color: white;
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 35px;
    }
    #mainMenu ul {
        margin: 0px;
    }
    #mainMenu li {
        list-style-type: square;
        cursor: pointer;
    }
    #mainMenu a {
        text-decoration: none;
    }
    #mainMenu li:hover {
        color: #FFD700;
    }
    .subMenu {
        background-color: #87CEFA;
    }
    #subheader {
        display: none;
    }
    #header {
        padding-top: 50px;
        height: 250px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #header>a {
        text-decoration: none;
    }
    #headerCaption {
        display: none;
    }
    #sideright {
        width: 100%;
    }
    #pageName {
        margin-top: unset;
    }
    #sideBarGrey {
        width: 95%;
        background-color: #dcdcdc;
        border: 1px #a9a9a9 solid;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }
    .sideBarElement {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #content {
        margin: 0px;
    }
    .contentContainer {
        width: 95%;
    }
    #crest-mobile {
        display: block; 
        float: left;
        margin-top: -15px;      
        height: 150%;
        margin-left: .5rem;
    } 
    #headerCaption-mobile {
        margin-left: .5rem;
        display: block;
        float: left;
        color: #fff;
    }
    #headerCaption-mobile>h3 {
        font-family: BookmanOldStyle, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        line-height: 1.0;
    }
    #finSupportCorner {
        width: 220px;
    }
}

@media only screen and (max-width: 478px) {
    #headerCaption-mobile>a>h3 {
        display: none;
    }
}