---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
pageName: "Díszpolgáraink"
pageDescription: "Ők azok, akik kitartó munkájukkal kiérdemelték tiszteletünket és a falu díszpolgára címet."
---

<section class="container-xl py-5">
    <div class="content-card animate-on-scroll">
        <div class="news-item" style="text-align: center;">
            <div class="content-card__header">Sánta Ferenc</div>
            <a href="https://files.jankmajtis.hu/img/santa_ferenc.jpg" data-lightbox-group="gallery" title="Sánta Ferenc díszpolgár">
                <img src="https://files.jankmajtis.hu/img/santa_ferenc.jpg" alt="Sánta Ferenc díszpolgár" height="300">
            </a>
            <p>Nyugalmazott általános iskolai igazgató.</p>
        </div>
        <div class="news-item" style="text-align: center;">
            <div class="content-card__header">Dr. Frank Endre</div>
            <a href="https://files.jankmajtis.hu/img/dr_frank_endre.jpg" data-lightbox-group="gallery" title="Dr. Frank Endre díszpolgár">
                <img src="https://files.jankmajtis.hu/img/dr_frank_endre.jpg" alt="Dr Frank Endre díszpolgár" height="300">
            </a>
            <p>Volt körzeti orvos.</p>
        </div>
    </div>
</section>
