---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
pageName: "Az Állami Számvevőszék ellenőrzései"
---

<section class="container-xl py-5">
    <div class="content-card animate-on-scroll">
        <div class="content-card__body">
            <table width="100%" class="doc-table">
                <tr>
                    <td>Önkormányzatok ellenőrzése - Az önkormányzatok integritásának ellenőrzése 2021</td>
                    <td><a href="./docs/gazdalkodas/asz_ellenorzes.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                </tr>
            </table>
        </div>
    </div>
</section>
