---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
pageName: "Támogatások"
---

<section class="container-xl py-5">
    <div class="content-card animate-on-scroll">
        <div class="content-card__body">

            <div class="row new">
                <div class="content-card__header">Csapadékvízelvezetés Fejlesztése Jánkmajtison</div>
                <div class="col-12">
                    <a href="docs/tamogatasok/csapadekviz.png" data-lightbox-group="tamogatasok" title="Csapadékvízelvezetés Fejlesztése Jánkmajtison">
                        <img class="gallery-tmb-big" src="docs/tamogatasok/thmb_csapadekviz.png" alt="Csapadékvízelvezetés Fejlesztése Jánkmajtison" />
                    </a>
                </div>
            </div>

            <div class="row new">
                <div class="content-card__header">VP6-19.2.1.-79-5-17 Köztemetó Infrastrukturális Fejlesztése és Ravatalozó Felújítása Jánkmajtison</div>
                <div class="col-12">
                    <a href="docs/tamogatasok/koztemeto.png" data-lightbox-group="tamogatasok" title="VP6-19.2.1.-79-5-17 Köztemetó Infrastrukturális Fejlesztése és Ravatalozó Felújítása Jánkmajtison">
                        <img class="gallery-tmb-big" src="docs/tamogatasok/thmb_koztemeto.png" alt="VP6-19.2.1.-79-5-17 Köztemetó Infrastrukturális Fejlesztése és Ravatalozó Felújítása Jánkmajtison" />
                    </a>
                </div>
            </div>

            <div class="row new">
                <div class="content-card__header">Napközi Otthonos Óvoda Fejlesztése Jánkmajtison</div>
                <div class="col-12">
                    <a href="docs/tamogatasok/ovoda.png" data-lightbox-group="tamogatasok" title="Napközi Otthonos Óvoda Fejlesztése Jánkmajtison">
                        <img class="gallery-tmb-big" src="docs/tamogatasok/thmb_ovoda.png" alt="Napközi Otthonos Óvoda Fejlesztése Jánkmajtison" />
                    </a>
                </div>
            </div>

            <div class="row new">
                <div class="content-card__header">Óvodai Játszóudvar Kialakítása 2022</div>
                <div class="col-12">
                    <a href="docs/tamogatasok/ovodai_jatszoter.png" data-lightbox-group="tamogatasok" title="Óvodai Játszóudvar Kialakítása 2022">
                        <img class="gallery-tmb-big" src="docs/tamogatasok/thmb_ovodai_jatszoter.png" alt="Óvodai Játszóudvar Kialakítása 2022" />
                    </a>
                </div>
            </div>

            <div class="row new">
                <div class="content-card__header">Kulturális és Gasztronómiai Rendezvények Támogatása</div>
                <div class="col-12">
                    <a href="docs/tamogatasok/rendezveny.png" data-lightbox-group="tamogatasok" title="Kulturális és Gasztronómiai Rendezvények Támogatása">
                        <img class="gallery-tmb-big" src="docs/tamogatasok/thmb_rendezveny.png" alt="Kulturális és Gasztronómiai Rendezvények Támogatása" />
                    </a>
                </div>
            </div>

            <div class="row new">
                <div class="content-card__header">Tanya- és Falugondnoki Buszok Beszerzése 2021</div>
                <div class="col-12">
                    <a href="docs/tamogatasok/tanyagondnok.png" data-lightbox-group="tamogatasok" title="Tanya- és Falugondnoki Buszok Beszerzése 2021">
                        <img class="gallery-tmb-big" src="docs/tamogatasok/thmb_tanyagondnok.png" alt="Tanya- és Falugondnoki Buszok Beszerzése 2021" />
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
