---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
---

<div id="sideleft">

        <div id="sideBarGrey">

            <div id="headerCaption" class="sideBarElement">
                Jánkmajtis<br /><span class="lower">község<br />honlapja</span>
            </div>

            <div id="pageName" class="sideBarElement">
                Az Állami Számvevőszék ellenőrzései
            </div>

        </div>
    </div>


    <div id="sideright">
    
        <div class="contentContainer">

            <div class="row">
               
                <div class="col-12">
                    <table width="100%" class="docs-table">
                        <tr>
                            <td>Önkormányzatok ellenőrzése - Az önkormányzatok integritásának ellenőrzése 2021</td>
                            <td><a href="./docs/gazdalkodas/asz_ellenorzes.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
