---
layout: base.njk
permalink: "index.html"
---

<a href="docs/csapadekviz_elvezetes_projekt_2023-10-10.pdf">
    <img id="finSupportCorner" src="images_png/tamogatasok_banner_felso.png" alt="EU_MO_kormanya_Szechenyi2020">
</a>

{# ========== HERO ========== #}
<section class="hero">
    <img class="hero__image" src="/images_jpg/slides/slide0.jpg" alt="Jánkmajtis">
    <div class="hero__overlay"></div>
    <div class="hero__content">
        <img class="hero__crest" src="/images_png/cimer_jo_kicsi_javitott.png" alt="Jánkmajtis címere">
        <h1 class="hero__title">Jánkmajtis</h1>
        <p class="hero__subtitle">község honlapja</p>
    </div>
</section>

{# ========== CONTACT & MAP ========== #}
<section class="container-xl py-5">
    <h2 class="section-heading animate-on-scroll">Címek, elérhetőségek</h2>
    <div class="row g-4 animate-on-scroll">
        <div class="col-lg-6">
            <div class="contact-card">
                <div class="contact-card__title">Polgármesteri hivatal</div>
                <div class="row">
                    <div class="col-sm-6">
                        <p><strong>Elérhetőségek:</strong></p>
                        <table>
                            <tr><th>Cím:</th><td>4741. Jánkmajtis, Kossuth út 28.</td></tr>
                            <tr><th>Tel./Fax:</th><td>44/566-088</td></tr>
                            <tr><th>Körjegyző:</th><td>44/566-001</td></tr>
                            <tr><th>E-mail:</th><td>jankmajtisph@freemail.hu</td></tr>
                        </table>
                    </div>
                    <div class="col-sm-6 mt-3 mt-sm-0">
                        <p><strong>Ügyfélfogadási rend:</strong></p>
                        <table>
                            <tr><th>Kedd:</th><td>8:00 - 12:00</td></tr>
                            <tr><th>Szerda:</th><td>8:00 - 12:00, 13:00 - 16:00</td></tr>
                            <tr><th>Csütörtök:</th><td>8:00 - 12:00</td></tr>
                        </table>
                        <p class="mt-2"><em>Egyéb napokon nincs ügyfélfogadás!</em></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="contact-card">
                <div class="contact-card__title">Elhelyezkedés a térképen</div>
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21381.894586780498!2d22.65054737555405!3d47.94147421462319!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47386d16f22ee8bb%3A0x4da73ad203bfec31!2zSsOhbmttYWp0aXMsIE1hZ3lhcm9yc3rDoWc!5e0!3m2!1shu!2s!4v1405596998641"
                    loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>

{# ========== FEATURED PROJECTS ========== #}
<section class="bg-white py-5">
    <div class="container-xl">
        <h2 class="section-heading animate-on-scroll">Kiemelt pályázatok</h2>
        <div class="row g-4 animate-on-scroll">
            <div class="col-md-4">
                <a href="top-141-19-sb1-2019-00040.html" class="project-card">
                    <div class="project-card__id">TOP-1.4.1-19-SB1-2019-00040</div>
                    <div class="project-card__title">Bölcsőde kialakítása Jánkmajtison</div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="efop-153-16-2017-00112.html" class="project-card">
                    <div class="project-card__id">EFOP-1.5.3-16-2017-00112</div>
                    <div class="project-card__title">Humán szolgáltatások fejlesztése Fehérgyarmaton és térségében</div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="top-2.1.3-16-SB2-2020-00017.html" class="project-card">
                    <div class="project-card__id">TOP-2.1.3-16-SB2-2020-00017</div>
                    <div class="project-card__title">Csapadékvíz elvezetés fejlesztése Jánkmajtison</div>
                </a>
            </div>
        </div>
    </div>
</section>

{# ========== PROJECT GALLERY ========== #}
<section class="container-xl py-5">
    <h2 class="section-heading animate-on-scroll">Projekt galériák</h2>
    <div class="gallery-grid animate-on-scroll">
        <a class="gallery-grid__item" href="images_jpg/CsapadekvizElvezetes_tabla.jpg" data-lightbox-group="projects" title="Csapadékvíz elvezetés fejlesztése Jánkmajtison">
            <img src="images_jpg/CsapadekvizElvezetes_tabla_thmb.jpg" alt="Csapadékvíz elvezetés fejlesztése Jánkmajtison">
        </a>
        <a class="gallery-grid__item" href="images_jpg/SzolgalatiLakasFejlesztes_tabla.jpg" data-lightbox-group="projects" title="Szolgálati lakás felújítása Jánkmajtison">
            <img src="images_jpg/SzolgalatiLakasFejlesztes_tabla_thmb.jpg" alt="Szolgálati lakás felújítása Jánkmajtison">
        </a>
        <a class="gallery-grid__item" href="images_jpg/OvodaFejlesztes_tabla-B.jpg" data-lightbox-group="projects" title="Napközi Otthonos Óvoda fejlesztése Jánkmajtison">
            <img src="images_jpg/OvodaFejlesztes_tabla-B.jpg" alt="Óvodafejlesztési Projekt">
        </a>
        <a class="gallery-grid__item" href="images_jpg/ASP_tabla.jpg" data-lightbox-group="projects" title="ASP Központ">
            <img src="images_jpg/ASP_tabla.jpg" alt="ASP Projekt">
        </a>
        <a class="gallery-grid__item" href="images_jpg/GondKozpKonyhaFejlesztes_tabla.jpg" data-lightbox-group="projects" title="A Gondozási Központ konyhájának fejlesztése Jánkmajtison">
            <img src="images_jpg/GondKozpKonyhaFejlesztes_tabla.jpg" alt="A Gondozási Központ konyhájának fejlesztése Jánkmajtison">
        </a>
        <a class="gallery-grid__item" href="images_jpg/KoztemetoFejlesztes_tabla.jpg" data-lightbox-group="projects" title="Köztemető fejlesztése Jánkmajtison">
            <img src="images_jpg/KoztemetoFejlesztes_tabla.jpg" alt="Köztemető fejlesztése Jánkmajtison">
        </a>
        <a class="gallery-grid__item" href="images_jpg/BolcsodeKialakitas_tabla.jpg" data-lightbox-group="projects" title="Bölcsőde kialakítása Jánkmajtison">
            <img src="images_jpg/BolcsodeKialakitas_tabla.jpg" alt="Bölcsőde kialakítása Jánkmajtison">
        </a>
        <a class="gallery-grid__item" href="images_jpg/OvodaJatszoUdvar_tabla.jpg" data-lightbox-group="projects" title="Óvodai játszóudvar kialakítása">
            <img src="images_jpg/OvodaJatszoUdvar_tabla.jpg" alt="Óvodai játszóudvar kialakítása">
        </a>
        <a class="gallery-grid__item" href="images_jpg/TanyaGondBusz_tabla.jpg" data-lightbox-group="projects" title="Tanyagondnoki busz beszerzése Jánkmajtison">
            <img src="images_jpg/TanyaGondBusz_tabla.jpg" alt="Tanyagondnoki busz beszerzése Jánkmajtison">
        </a>
        <a class="gallery-grid__item" href="images_jpg/OrvRendFelujitas_tabla.jpg" data-lightbox-group="projects" title="Orvosi Rendelő felújítása Jánkmajtison">
            <img src="images_jpg/OrvRendFelujitas_tabla.jpg" alt="Orvosi Rendelő felújítása Jánkmajtison">
        </a>
        <a class="gallery-grid__item" href="images_jpg/JatszoterDarno_tabla.jpg" data-lightbox-group="projects" title="Közterületi játszóterek fejlesztése Darnón">
            <img src="images_jpg/JatszoterDarno_tabla.jpg" alt="Közterületi játszóterek fejlesztése Darnón">
        </a>
        <a class="gallery-grid__item" href="images_jpg/MFP_tabla.jpg" data-lightbox-group="projects" title="Magyar Falu Program">
            <img src="images_jpg/MFP_tabla.jpg" alt="Magyar Falu Program">
        </a>
    </div>
</section>

{# ========== NEWS / AKTUALITÁSOK ========== #}
<section class="bg-white py-5">
    <div class="container-xl">
        <h2 class="section-heading animate-on-scroll">Aktualitások</h2>
        <div class="content-card animate-on-scroll">

            <div class="news-item">
                <div class="news-item__title">NEMESTER 2000 Fémszerkezet Gyártó és Szolgáltató Kft. hirdetmény</div>
                <i class="news-item__date">2025.08.27.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/250827/nemester_2000_hirdetmeny.pdf" target="_blank">Hirdetmény</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">NODERNA TEAM Kft. végzés</div>
                <i class="news-item__date">2025.03.24.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/250324/noderna_team_kft_vegzes.pdf" target="_blank">Végzés</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">SK NETWORK Kft. - Földtulajdonosi közösség közgyűlés összehívó</div>
                <i class="news-item__date">2025.02.20.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/250220/hirdetmeny_sk_network_kft_foldtulajdonosi_kozossegi_kozgyules.pdf" target="_blank">Hirdetmény</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">Vegyen részt a KSH Életkörülmény Felmérésében!</div>
                <i class="news-item__date">2025.02.07.</i>
                <p>
                    <a target="_blank" href="news/250207/eletkorulmeny_plakat_2025.pdf" title="KSH Életkörülmény Felmérés">
                        <img style="max-width: 200px; height: 282px" src="news/250207/eletkorulmeny_plakat_2025_tmb.jpg" alt="KSH Életkörülmény Felmérés">
                    </a>
                </p>
            </div>

            <div class="news-item">
                <div class="news-item__title">Bursa Hungarica Pályázat</div>
                <i class="news-item__date">2024.11.01.</i>
                <p>
                    A Bursa Hungarica Felsőoktatási Önkormányzati Ösztöndíjrendszer célja az esélyteremtés érdekében a hátrányos helyzetű, szociálisan rászoruló fiatalok felsőfokú tanulmányainak támogatása.<br><br>
                    A program keretében olyan szociálisan hátrányos helyzetű felsőoktatásban résztvevő hallgatóknak folyósítható az ösztöndíj, akik a települési önkormányzat illetékességi területén lakóhellyel rendelkeznek, felsőoktatási intézményben (felsőoktatási hallgatói jogviszony keretében) teljes idejű (nappali tagozatos) képzésben vesznek részt.<br><br>
                    A pályázat benyújtásának határideje: 2024. december 4.<br><br>
                    Az alábbiakban elérhető a felhívás és mellékletei:<br>
                    <a target="_blank" href="https://emet.gov.hu/kategoria/kiemelt-kategoriak/palyazatok/aktualis-felhivasok/bursa-hungarica/">https://emet.gov.hu/kategoria/kiemelt-kategoriak/palyazatok/aktualis-felhivasok/bursa-hungarica</a>
                </p>
            </div>

            <div class="news-item">
                <div class="news-item__title">Hivatalos Hirdetmény az „Agrárgazdasági képzések és felkészítő tréningek" című (VP1-1.1.1-23 kódszámú) felhívás vonatkozásában</div>
                <i class="news-item__date">2024.08.15.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/240815/agrar_felnott_kepzes_hirdetmeny.pdf" target="_blank">Hirdetmény</a></li>
                </ul>
                <p>
                    Felnőttképzés regisztráció: <a href="https://www.felnottkepzes.hu" target="_blank">https://www.felnottkepzes.hu</a>
                </p>
            </div>

            <div class="news-item">
                <div class="news-item__title">Jánkmajtis Község Roma Nemzetiségi Önkormányzatának eszközbeszerzése</div>
                <i class="news-item__date">2024.07.14.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/240714/beszamolo_roma_eszkoz_2024.pdf" target="_blank">Szakmai beszámoló</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">Magyar Máltai Szeretetszolgálat Alapítvány pályázat</div>
                <i class="news-item__date">2024.04.16.</i>
                <p>
                    A Magyar Máltai Szeretetszolgálat Alapítvány nyílt pályázatot hirdet az RRF-3.3.1-22-2022-00001 projekt keretében a Felzárkózó településen lévő ingatlanok szociális alapon történő bérbeadására.
                    <br><br>A pályázati anyagok a következő linken érhetőek el: <a href="https://fete.hu/jankmajtis/" target="_blank">https://fete.hu/jankmajtis/</a>
                </p>
            </div>

            <div class="news-item">
                <div class="news-item__title">Szolgálati lakás felújítása Jánkmajtison</div>
                <i class="news-item__date">2023.10.19.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/231019/szolgalati_lakas_felujitas_jm.pdf" target="_blank">Projekt összefoglaló</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">Jánkmajtis Helyi Választási Iroda vezetőjétől</div>
                <i class="news-item__date">2023.10.18.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/231018/kepv_test_letszam_darno.pdf" target="_blank">A megválasztandó önkormányzati képviselők számának megállapítása - Darnó</a></li>
                    <li><a href="news/231018/kepv_test_letszam_jm.pdf" target="_blank">A megválasztandó önkormányzati képviselők számának megállapítása - Jánkmajtis</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">Pályázati felhívás óvodapedagógus munkakör betöltésére</div>
                <i class="news-item__date">2022.06.13.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/220613/ovodapedagogus_palyazat.pdf" target="_blank">Pályázati kiírás</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">NAK választás</div>
                <i class="news-item__date">2022.05.05.</i>
                <p class="news-gal">
                    <a href="news/2022-05-05/nak_valasztas.jpeg" data-lightbox-group="nak_valasztas" title="NAK választás">
                        <img class="news-gal-tmb" style="max-width: 200px; height: 282px" src="news/2022-05-05/nak_valasztas_tmb.jpeg" alt="NAK választás">
                    </a>
                </p>
            </div>

            <div class="news-item">
                <div class="news-item__title">Pályázati felhívás - Önkormányzati tulajdonú ingatlan értékesítése</div>
                <i class="news-item__date">2021.10.22.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/211022/211022_onkormanyzat_ingatlan_ertekesites.pdf" target="_blank">Pályázati kiírás</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">Roma Kulturális Nap</div>
                <i class="news-item__date">2021.08.07.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/210807/210807_roma_kultura_szakmai_beszamolo.pdf" target="_blank">Szakmai beszámoló</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">Roma tábor</div>
                <i class="news-item__date">2021.07.20.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/210720/210720_roma_tabor_szakmai_beszamolo.pdf" target="_blank">Szakmai beszámoló</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">Gyermekvédelmi ellátásokhoz kapcsolódó formanyomtatványok</div>
                <i class="news-item__date">2021.05.24.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/210524/210524_formanyomtatvany_1.pdf" target="_blank">Környezettanulmány hátrányos helyzet, halmozottan hátrányos helyzet megállapításához</a></li>
                    <li><a href="news/210524/210524_formanyomtatvany_2.pdf" target="_blank">Formanyomtatvány a rendszeres gyermekvédelmi kedvezmény megállapításához és felülvizsgálatához, valamint a hátrányos, halmozottan hátrányos helyzet fennállásának megállapításához</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">Óvodai intézményvezető állás</div>
                <i class="news-item__date">2021.05.24.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/210524/210524_ovoda_intezmenyvezeto_allas.pdf" target="_blank">Álláshirdetés</a></li>
                </ul>
            </div>

            <div class="news-item">
                <div class="news-item__title">Óvodai intézményvezető állás</div>
                <i class="news-item__date">2021.01.10.</i>
                <p>Kapcsolódó dokumentum(ok):</p>
                <ul class="news-item__docs">
                    <li><a href="news/210110/210110_ovoda_intezmenyvezeto_allas.pdf" target="_blank">Álláshirdetés</a></li>
                </ul>
            </div>

        </div>
    </div>
</section>

{# ========== ONE BUTTON ========== #}
<section class="container-xl py-4">
    <a href="one.html" class="one-card animate-on-scroll">
        <img src="images_png/onelogo.png" alt="One">
        <div class="one-card__text">Kormányzati csomagos készülékárlista</div>
    </a>
</section>
