---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
pageName: "Általános iskola"
pageDescription: "A jánkmajtisi Móricz Zsigmond Általános Iskola képzett pedagógusai nem csak a helyi, hanem a környező települések diákjait is készítik a nagybetűs életre."
---

<section class="container-xl py-5">
    <div class="content-card animate-on-scroll">
        <div class="content-card__body">
            <div class="row g-3">
                <div class="content-card__header">Móricz Zsigmond Általános Iskola</div>
                <div class="col-12 col-md-4">
                    <p>
                        Cím: 4741, Jánkmajtis, Kossuth út 7.<br/>
                        Tel./Fax: 44/366-044<br/>
                        E-mail: iskolajankmajtis@freemail.hu<br/>
                        <br/>
                        Weboldal: <a href="http://www.jankmajtis.suli.hu" target="_blank">www.jankmajtis.suli.hu</a>
                    </p>
                </div>
                <div class="col-12 col-md-8">
                    <iframe style="width: 100%; min-height: 200px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10691.7167782976!2d22.65239809652541!3d47.93775330828159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x49464e371bfda02e!2sM%C3%B3ricz+Zsigmond+%C3%81ltal%C3%A1nos+Iskola!5e0!3m2!1shu!2shu!4v1468923758718" frameborder="0" allowfullscreen loading="lazy"></iframe>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-12">
                    <a href="images_jpg/slides/slide3.jpg" data-lightbox-group="gallery" title="Móricz Zsigmond Általános Iskola">
                        <img style="width: 100%;" src="images_jpg/slides/slide3.jpg" alt="iskola">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-card animate-on-scroll mt-4" style="text-align: center;">
        <div class="content-card__body">
            <a href="images_png/iskola_cimer.png" data-lightbox-group="gallery" title="A Móricz Zsigmond Általános Iskola címere">
                <img src="images_png/iskola_cimer.png" alt="iskola címer" style="max-height: 200px;">
            </a>
        </div>
    </div>
</section>
