---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
---

<div id="sideleft">

        <div id="sideBarGrey">

            <div id="headerCaption" class="sideBarElement">
                Jánkmajtis<br /><span class="lower">község<br />honlapja</span>
            </div>

            <div id="pageName" class="sideBarElement">
                Roma Nemzetiségi Önkormányzat
            </div>

        </div>
    </div>


    <div id="sideright">

        <div class="contentContainer">

            <div class="new">
                <table cellpadding="0" cellspacing="1" id="Table1">
                    <tr>
                        <th width="120em">Elnök:</th>
                        <td>Szőcsi Gusztáv</td>
                    </tr>
                    <tr>
                        <th>Tagok:</th>
                        <td>Rézműves Ferenc</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Rézműves Miklós</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Tyukodi István</td>
                    </tr>
                </table>  
            </div>
        </div>
    </div>
