---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
pageName: "Roma Nemzetiségi Önkormányzat"
---

<section class="container-xl py-5">
    <div class="content-card animate-on-scroll">
        <div class="content-card__body">
            <table cellpadding="0" cellspacing="1">
                <tr><th width="120em">Elnök:</th><td>Szőcsi Gusztáv</td></tr>
                <tr><th>Tagok:</th><td>Rézműves Ferenc</td></tr>
                <tr><td></td><td>Rézműves Miklós</td></tr>
                <tr><td></td><td>Tyukodi István</td></tr>
            </table>
        </div>
    </div>
</section>
