---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
pageName: "Körjegyzőség"
pageDescription: "Itt tájékozódhat a községünkben műküdő körjegyzőség tagjairól és munkakörükről."
---

<section class="container-xl py-5">
    <div class="content-card animate-on-scroll">
        <div class="content-card__body">
            <div class="content-card__header">Jánkmajtis Közös Önkormányzati Hivatala</div>

            <table cellpadding="0" cellspacing="1" id="Table1">
                <tr>
                    <td colspan="2" style="padding-top:8px; padding-bottom:8px;"><strong> Körjegyző: Dr. Erdei Anita</strong>
                    </td>
                </tr>
                <tr>
                    <td> Balláné Józsa Beatrix
                    </td>
                    <td>- pénzügyi főelőadó
                    </td>
                </tr>
                <tr>
                    <td> Fórizs Attiláné&nbsp;
                    </td>
                    <td>- pénzügyi főelőadó
                    </td>
                </tr>
                <tr>
                    <td> Kicska Attiláné
                    </td>
                    <td>- igazgatási főelőadó
                    </td>
                </tr>
                <tr>
                    <td> Kovácsné Drótos Katalin
                    </td>
                    <td>- igazgatási főelőadó
                    </td>
                </tr>
                <tr>
                    <td> Kunné Botos Ágnes
                    </td>
                    <td>- pénzügyi főmunkatárs
                    </td>
                </tr>
                <tr>
                    <td> Szalai Sándorné
                    </td>
                    <td>- igazgatási főelőadó
                    </td>
                </tr>
                <tr>
                    <td> Varga Lászlóné
                    </td>
                    <td>- hivatalsegés
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
