---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
---

<div id="sideleft">

        <div id="sideBarGrey">

            <div id="headerCaption" class="sideBarElement">
                Jánkmajtis<br /><span class="lower">község<br />honlapja</span>
            </div>

            <div id="pageName" class="sideBarElement">
                Körjegyzőség
            </div>

            <div id="pageDescription" class="sideBarElement">
                Itt tájékozódhat a községünkben műküdő körjegyzőség tagjairól és munkakörükről.
            </div>

        </div>
    </div>


    <div id="sideright">

        <div class="contentContainer">

            <div class="new">
                <div class="newTitle">Jánkmajtis Közös Önkormányzati Hivatala</div>
                
                <table cellpadding="0" cellspacing="1" id="Table1">
                    <tr>
                        <td colspan="2" style="padding-top:8px; padding-bottom:8px;"><strong> Körjegyző: Dr. Erdei Anita</strong>
                        </td>
                    </tr>
                    <tr>
                        <td > Balláné Józsa Beatrix
                        </td>
                        <td >- pénzügyi főelőadó
                        </td>
                    </tr>
                    <tr>
                        <td > Fórizs Attiláné&nbsp; 
                        </td>
                        <td >- pénzügyi főelőadó
                        </td>
                    </tr>
                    <tr>
                        <td > Kicska Attiláné
                        </td>
                        <td >- igazgatási főelőadó
                        </td>
                    </tr>
                    <tr>
                        <td > Kovácsné Drótos Katalin
                        </td>
                        <td >- igazgatási főelőadó
                        </td>
                    </tr>
                    <tr>
                        <td > Kunné Botos Ágnes
                        </td>
                        <td >- pénzügyi főmunkatárs
                        </td>
                    </tr>
                    <tr>
                        <td > Szalai Sándorné
                        </td>
                        <td >- igazgatási főelőadó
                        </td>
                    </tr>
                    <tr>
                        <td > Varga Lászlóné
                        </td>
                        <td >- hivatalsegés
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
