---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
---

<div id="sideleft">

        <div id="sideBarGrey">

            <div id="headerCaption" class="sideBarElement">
                Jánkmajtis<br /><span class="lower">község<br />honlapja</span>
            </div>

            <div id="pageName" class="sideBarElement">
                Napelemes rendszer telepítése Jánkmajtis községben
            </div>

        </div>
    </div>


    <div id="sideright">
    
        <div class="contentContainer">

            <div class="row new">
                <div class="newTitle">Leírás</div>
                <div class="col-12">
                    <p>
                        Projekt azonosítója: <strong>KEOP-4.10.0/N/14-2014-0356</strong><br />
                        Projekt dokumentum: <a href="documents/napelempalyazat.docx" target="_blank">letöltés</a>
                    </p>
                </div>
            </div>
            
            <div class="row new">
                <div class="newTitle">C táblázat</div>
                <div class="col-12 gallery">
                    
                    <a class="fancybox" href="images_jpg/napelem/c_tabla_1.jpg" data-fancybox-group="C" title="C tábla - 1. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_c_tabla_1.jpg" alt="C_tabla_1" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/c_tabla_2.jpg" data-fancybox-group="C" title="C tábla - 2. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_c_tabla_2.jpg" alt="C_tabla_2" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/c_tabla_3.jpg" data-fancybox-group="C" title="C tábla - 3. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_c_tabla_3.jpg" alt="C_tabla_3" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/c_tabla_4.jpg" data-fancybox-group="C" title="C tábla - 4. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_c_tabla_4.jpg" alt="C_tabla_4" />
                    </a>
                    
                </div>
            </div>
            
            <div class="row new">
                <div class="newTitle">D táblázat</div>
                <div class="col-12 gallery">
                    
                    <a class="fancybox" href="images_jpg/napelem/d_tabla_1.jpg" data-fancybox-group="D" title="D tábla - 1. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_d_tabla_1.jpg" alt="D_tabla_1" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/d_tabla_2.jpg" data-fancybox-group="D" title="D tábla - 2. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_d_tabla_2.jpg" alt="D_tabla_2" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/d_tabla_3.jpg" data-fancybox-group="D" title="D tábla - 3. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_d_tabla_3.jpg" alt="D_tabla_3" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/d_tabla_4.jpg" data-fancybox-group="D" title="D tábla - 4. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_d_tabla_4.jpg" alt="D_tabla_4" />
                    </a>
                    
                </div>
            </div>
            
            <div class="row new">
                <div class="newTitle">Az elkészült beruházás</div>
                <div class="col-12 gallery">
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_1.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 1. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_1.jpg" alt="Elkeszult_1" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_2.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 2. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_2.jpg" alt="Elkeszult_2" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_3.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 3. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_3.jpg" alt="Elkeszult_3" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_4.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 4. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_4.jpg" alt="Elkeszult_4" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_5.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 5. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_5.jpg" alt="Elkeszult_5" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_6.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 6. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_6.jpg" alt="Elkeszult_6" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_7.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 7. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_7.jpg" alt="Elkeszult_7" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_8.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 8. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_8.jpg" alt="Elkeszult_8" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_9.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 9. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_9.jpg" alt="Elkeszult_9" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_10.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 10. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_10.jpg" alt="Elkeszult_10" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_11.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 11. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_11.jpg" alt="Elkeszult_11" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_12.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 12. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_12.jpg" alt="Elkeszult_12" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_13.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 13. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_13.jpg" alt="Elkeszult_13" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_14.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 14. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_14.jpg" alt="Elkeszult_14" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_15.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 15. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_15.jpg" alt="Elkeszult_15" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/napelem/elkeszult_16.jpg" data-fancybox-group="E" title="Az elkészült beruházás - 16. kép">
                        <img class="galleryTmb" src="images_jpg/napelem/th_elkeszult_16.jpg" alt="Elkeszult_16" />
                    </a>
                    
                </div>
            </div>

        </div>
    </div>
