---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
pageName: "Nőszövetség"
pageDescription: "Ékes példája községünk színes társadalmi és kultúrális életének a Jánkmajtisi Nőszövetség tevékenysége."
---

<section class="container-xl py-5">
    <div class="content-card animate-on-scroll">
        <div class="news-item">
            <div class="content-card__header">A Jánkmajtisi Nőszövetség</div>
            <p>
                2008. évben alakult meg a Jánkmajtisi Nőszövetség, melyet a Szabolcs-Szatmár-Bereg Megyei Bíróság mint közhasznú társadalmi szervezet - 2009. május 4. napján jogerősen bejegyzett.<br />
                <br />
                Az egyesület elnöksége:
            </p>
            <ul>
                <li>Botos Sándorné elnök</li>
                <li>Kicska Enikő titkár</li>
                <li>Nagyné Fekete Erika pénztáros</li>
                <li>Botosné Pályi Edit elnökségi tag</li>
                <li> Pethő Andrásné elnökségi tag</li>
            </ul>
            <p>
                A nőszövetség célja elsősorban az emberi kapcsolatok ápolása, Jánkmajtis hagyományainak felkutatása, felelevenítése, kulturális programok, kirándulások, túrák szervezése, egészséges életmód és környezetvédelem népszerűsítése.<br />
                <br />
                Eddigi tevékenységünk főbb rendezvényei: régiség és kézimunka kiállítás, költészet napja, gasztronómiai est, karácsonyi ökumenikus istentisztelet és ajándékozás, színházi est, operett gála és táncházi rendezvényeken való részvétel. Létrehoztuk az állandó néprajzi kiállítást, melyet a volt körzeti megbízotti irodahelyiségben alakítottunk ki.<br />
                <br />
                Honlapunkon is szeretnénk népszerűsíteni szövetségünket, minden kedves hölgy csatlakozását várjuk,
                aki szeretne közénk jönni és részt venni programjainkban.
            </p>
        </div>
    </div>
</section>
