---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
---

<div id="sideleft">

        <div id="sideBarGrey">

            <div id="headerCaption" class="sideBarElement">
                Jánkmajtis<br /><span class="lower">község<br />honlapja</span>
            </div>

            <div id="pageName" class="sideBarElement">
                Nyugdíjasklub
            </div>

            <div id="pageDescription" class="sideBarElement">
                Egyik legaktívabb közösségünk a nyugdíjasklub akiknek eredményeire és munkásságára méltán lehetünk büszkék.
            </div>

        </div>
    </div>


    <div id="sideright">

        <div class="contentContainer">

            <div class="new">
                <div class="newTitle">Szeretet és Béke Nyugdíjasklub</div>

                <p>
                    1986 - ban alakult klubunk. Tagjai zömében egyszerű, helyi lakosú emberek, de megtalálható közöttük három szomszédbeli község lakói is. <br />
                    <br />
                    Hetven körüli létszámunk nyugdíjas, idős emberek, akik szívesen látogatják foglalkozásainkat, koruk és minimális nyugdíjuk miatt. Egészségügyi állapotuk szerint még részt vesznek a házi munkában, az unokák nevelésében.<br />
                    <br />
                    Egymásra odafigyelő, lelkes közösség ez, akikre megbízhatóanlehet ma is építeni.<br />
                    <br />
                    Közösségünkben énekkar működik Végh Ferenc irányításával.<br />
                    <br />
                    Megyénket országos versenyeken elismerő eredménnyel, megyei ünnepségek állandó szereplője, a falunapok állandó színesítője,  baráti klubösszejövetelek gyakori aktív részére. Tánckörünket ismerik, élethosszabbító kedvet terjeszt, hagyományőrző összejöveteleink példásak,kirándulásaink teltházasak, gyakran anyagi helyzetünktől függő.<br />
                    <br />
                    Terveink mindig vannak, melyek erőt adnak a holnapért.<br />
                    <br />
                    Klubvezető: Végh Ferencné
                </p>

            </div>

        </div>
    </div>
