---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
pageName: "Kormányzati csomagos készülékárlista"
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

<section class="container-xl py-5">
    <div class="content-card animate-on-scroll">
        <div class="content-card__body">
            <div id="oneFormContainer">
                <img src="images_png/onelogo.png" alt="One">
                <p><strong>A lista letöltéséhez kérem adja meg a kapcsolattartótól kapott jelszót:</strong></p>
                <form id="oneForm" method="POST">
                    <input id="onePassword" name="onePassword" type="password" autofocus>
                    <input type="submit" value="Letöltés">
                </form>
                <div id="oneAlert"></div>
            </div>
        </div>
    </div>
</section>
