---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
---

<div id="sideleft">

        <div id="sideBarGrey">

            <div id="headerCaption" class="sideBarElement">
                Jánkmajtis
                <br />
                <span class="lower">község
                    <br />honlapja</span>
            </div>

            <div id="pageName" class="sideBarElement">
                Napközi Otthonos Óvoda fejlesztése Jánkmajtison
            </div>

            <a class="fancybox" href="images_jpg/Infoblokk_vertical.jpg" data-fancybox-group="gallery" title="A projekt finanszírozói">
                <img src="images_jpg/Infoblokk_vertical.jpg" alt="Óvodafejlesztési Projekt" class="sideBarElement sideBarImage">
            </a>

            <div id="pageDescription" class="sideBarElement">
                Köszönjük a Magyar Állam és az Európai Unió támogatását
            </div>

        </div>
    </div>


    <div id="sideright">

        <div class="contentContainer">
            <div class="row g-3">
                <div class="newTitle">Alap adatok</div>
                <div class="col-12">
                    <table>
                        <tr>
                            <td>Kedvezményezett neve:</td>
                            <td>Jánkmajtis-Darnó Intézményfenntartó Társulás</td>
                        </tr>
                        <tr>
                            <td>Projekt címe: </td>
                            <td>Napközi Otthonos Óvoda fejlesztése Jánkmajtison</td>
                        </tr>
                        <tr>
                            <td>Szerződött támogatás összege:</td>
                            <td>203.853.800 Ft</td>
                        </tr>
                        <tr>
                            <td>Támogatás mértéke:</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <td>Tervezett befejezési dátum:</td>
                            <td>2019.05.31.</td>
                        </tr>
                        <tr>
                            <td>Azonosító szám:</td>
                            <td>TOP-1.4.1-15-SB-2016-00064</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row g-3">
                <div class="newTitle">A projekt átfogó céljai</div>
                <div class="col-12">
                    <ul style="margin: 0px; text-align: justify;">
                        <li>Az óvodai élet színvonalának javítása, a gyermekek életminőségének javítása.</li>
                        <li>Az óvodában folyó nevelő és oktató munka színvonalának növelése.</li>
                        <li>A kiemelt figyelmet igénylő gyermekek/tanulók, valamint fogyatékossággal élő gyerekek közoktatási
                            lehetőségeinek és esélyegyenlőségének biztosítása.</li>
                        <li>Nyitott, kirekesztésektől mentes közoktatási rendszer megteremtése, befogadó intézményi környezet
                            kialakítása, melynek célja minden gyerek képességének maximális kibontakoztatása a személyiségközpontú
                            oktatás-nevelés által (Környezeti Csoport);</li>
                        <li>Az oktatási szolgáltatások minőségének javítása, a pedagógiai innovációt ösztönző körülmények megteremtése;</li>
                        <li>Korszerű pedagógiai ismeretek megszerzésével az oktatás hatékonyságát növelő intézményfejlesztés.
                            A projekt specifikus céljai:</li>
                        <li>A HHH és HH óvodások integrációjának támogatása az intézmény infrastrukturális fejlesztése révén;</li>
                        <li>Gazdaságos, költséghatékony intézményi működtetés alapjainak megteremtése;</li>
                        <li>Teljes körű fizikai és infokommunikációs akadálymentesítés kiépítése;
                        </li>
                        <li>IKT komplex eszközrendszerének fogadására alkalmas intézményi környezet biztosítása; Összehangolt
                            együttműködés a helyi társadalom oktatásban-nevelésben érdekelt szereplőivel;</li>
                        <li>Hatékony együttnevelés megvalósításához, új pedagógiai módszerek alkalmazásához szükséges eszközök,
                            berendezések beszerzése. A projekt által elvárt eredmények:</li>
                        <li>XXI. század kívánalmait kielégítő, egészséges, korszerű, koncentrált oktatás-nevelési környezet (épület,
                            eszközök, berendezések) kiépülése</li>
                        <li>Megvalósul az intézmény költséghatékony, gazdaságos működtetése</li>
                        <li>Alap- és kulcskompetenciák kialakításához szükséges közoktatási rendszer létrejön
                        </li>
                        <li>Törvényi kötelezettségeknek való megfelelés az akadálymentesítés, és a hőtechnikai szabványok területén
                        </li>
                        <li>Egyenlő esélyek megteremtése.</li>
                    </ul>
                    <p>
                        A Kossuth utcai telephelyen lévő épület vályog építésű, nem rendelkezik hőszigeteléssel, a tetőszerkezet elavult több helyen
                        beázik, a nyílászárók hézagosak a fűtés korszerűtlen régi típusú gázkazánnal megoldott. Az épület
                        felújításának bővítésének megvalósítása tervezői és statikus szakvélemények alapján ingatlankiváltással
                        javasoltak. Az Arany János utcai épület is leromlott műszaki állapottal rendelkezik, tetőszerkezete
                        elavult, héjazata környezetszennyező azbesztes pala, nem rendelkezik hőszigeteléssel, nem hasznosít
                        megújuló energiaforrást, nyílászárói elavultak. Az épület eredetileg pártház volt nem óvodai funkcióra
                        épült. A fejlesztéssel önkormányzati telken egy új 4 csoportszobás 85 férőhelyes minden aktuális
                        jogszabálynak, normának megfelelő épület kerülne építésre, amely költséghatékonyan üzemeltethető
                        és racionalizálja a pedagógusok munkáját, és kielégíti a felmerült kapacitásigényeket is. A fejlesztés
                        szükségességét az épületek leromlott műszaki állapota és nagyon magas fenntartási költségei, valamint
                        a racionalizált működtetése indokolja.
                    </p>
                </div>
            </div>

            <div class="row g-3">
                <div class="newTitle">B tábla</div>
                <div class="col-12 gallery" style="text-align: center;">
                    <a class="fancybox" href="images_jpg/OvodaFejlesztes_tabla-B.jpg" data-fancybox-group="gallery" title="B tábla">
                        <img class="galleryTmb_bg" src="images_jpg/OvodaFejlesztes_tabla-B.jpg" alt="B_tabla" />
                    </a>
                </div>
            </div>

        </div>
    </div>
