---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
---

<div id="sideleft">

        <div id="sideBarGrey">

            <div id="headerCaption" class="sideBarElement">
                Jánkmajtis<br /><span class="lower">község<br />honlapja</span>
            </div>

            <div id="pageName" class="sideBarElement">
                TOP-1.4.1-19-SB1-2019-00040
            </div>

        </div>
    </div>


    <div id="sideright">
    
        <div class="contentContainer">

            <div class="row new">
                <div class="newTitle">Bölcsőde kialakítása Jánkmajtison</div>
                <div class="col-12">
                    <p>
                        <strong>Projekt azonosítója: </strong>TOP-1.4.1-19-SB1-2019-00040
                    </p>
                    <p>
                        <strong>Sajtóközlemény 2022.12.31: </strong><a href="docs/bolcsode_sajtokozlemeny_2022-12-31.pdf" target="_blank" class="visibleLink">megtekintés (pdf)</a>
                    </p>
                </div>
                <div class="col-12">
                    
                    <a class="fancybox" href="images_jpg/bolcsode/bolcsode_1.jpg" data-fancybox-group="C" title="Bölcsőde - 1. kép">
                        <img class="galleryTmb" src="images_jpg/bolcsode/th_bolcsode_1.jpg" alt="bolcsode_1." />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/bolcsode/bolcsode_2.jpg" data-fancybox-group="C" title="Bölcsőde - 2. kép">
                        <img class="galleryTmb" src="images_jpg/bolcsode/th_bolcsode_2.jpg" alt="bolcsode_2" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/bolcsode/bolcsode_3.jpg" data-fancybox-group="C" title="Bölcsőde - 3. kép">
                        <img class="galleryTmb" src="images_jpg/bolcsode/th_bolcsode_3.jpg" alt="bolcsode_3" />
                    </a>
                    
                    <a class="fancybox" href="images_jpg/bolcsode/bolcsode_4.jpg" data-fancybox-group="C" title="Bölcsőde - 4. kép">
                        <img class="galleryTmb" src="images_jpg/bolcsode/th_bolcsode_4.jpg" alt="bolcsode_4" />
                    </a>

                    <a class="fancybox" href="images_jpg/bolcsode/bolcsode_5.jpg" data-fancybox-group="C" title="Bölcsőde - 5. kép">
                        <img class="galleryTmb" src="images_jpg/bolcsode/th_bolcsode_5.jpg" alt="bolcsode_5" />
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
