---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
pageName: "2024. évi általános választások — Darnó"
---

<section class="container-xl py-5">
    <div class="content-card animate-on-scroll">
        <div class="content-card__body">
            <div class="row g-3">
                <div class="content-card__header">Választópolgároknak</div>
                <div class="col-12">
                    <table border="0" style="margin-left: unset">
                        <tr>
                            <td>Bíró Miklós - polgármester-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_pm_nyilv_vetel_biro_miklos.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Balogh Tivadar Endre - egyéni listás képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_ekepv_nyilv_vetel_balogh_tivadar_endre.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Bíró Anita -  egyéni listás képviselő-jelölt nyilvántartásba vétele   </td>
                            <td><a href="./docs/valasztas_2024/dr_ekepv_nyilv_vetel_biro_anita.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Jóni Lajos - egyéni listás képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_ekepv_nyilv_vetel_joni_lajos.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Kovács Gyula - egyéni listás képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_ekepv_nyilv_vetel_kovacs_gyula.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Lakatos Ödön - egyéni listás képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_ekepv_nyilv_vetel_lakatos_odon.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Szűcs Imréné - egyéni listás képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_ekepv_nyilv_vetel_szucs_imrene.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Váraljai Józsefné - egyéni listás képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_ekepv_nyilv_vetel_varaljai jozsefne.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Farkas Ibolya - nemzetiségi képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_nkepv_nyilv_vetel_farkas_ibolya.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Horváth Erika - nemzetiségi képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_nkepv_nyilv_vetel_horvath_erika.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Horváth József - nemzetiségi képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_nkepv_nyilv_vetel_horvath_jozsef.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Horváth Lívia - nemzetiségi képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_nkepv_nyilv_vetel_horvath_livia.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Jóni Józsefné - nemzetiségi képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_nkepv_nyilv_vetel_joni_jozsefne.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Jóni Napsugár Irén - nemzetiségi képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_nkepv_nyilv_vetel_joni_napsugar_iren.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Lakatos Ödön - nemzetiségi képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_nkepv_nyilv_vetel_lakatos_odon.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Lázár Ferenc - nemzetiségi képviselő-jelölt nyilvántartásba vétele</td>
                            <td><a href="./docs/valasztas_2024/dr_nkepv_nyilv_vetel_lazar_ferenc.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Polgármester és egyéni listás képviselő választás szavazólapjának sorrendje</td>
                            <td><a href="./docs/valasztas_2024/dr_sorsolas.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                        <tr>
                            <td>Roma nemzetiségi képviselő választás szavazólapjának sorrendje</td>
                            <td><a href="./docs/valasztas_2024/dr_sorsolas_roma.pdf" target="_blank">Letöltés<i class="fa-solid fa-menu fa-file-pdf"></i></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="content-card animate-on-scroll">
        <div class="content-card__body">
            <div class="row g-3">
                <div class="content-card__header">Jelölteknek</div>
                <div class="col-12">
                    <p>Feltöltés alatt...</p>
                </div>
            </div>
        </div>
    </div>
</section>
