---
layout: base.njk
permalink: "{{ page.fileSlug }}.html"
---

<div id="sideleft">

        <div id="sideBarGrey">

            <div id="headerCaption" class="sideBarElement">
                Jánkmajtis<br /><span class="lower">község<br />honlapja</span>
            </div>

            <div id="pageName" class="sideBarElement">
                Korábbi választások<br/>
                Darnó
            </div>

        </div>
    </div>


    <div id="sideright">
    
        <div class="contentContainer">

            <div class="row g-3">
                <div class="newTitle">Feltöltés alatt...</div>
                <div class="col-12">
                    <p>
                    </p>
                </div>
            </div>

        </div>
    </div>
